.version.buttons /* version checker */
{
	color: #000009;
	background-color: #14058C;
}

#page
{
	z-index: 1;
	min-height: 282.62500000000006px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 21px;
	padding-bottom: 196.37499999999994px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#buttonu725
{
	z-index: 2;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-width: 0px;
	background-color: #00ACAC;
	border-radius: 3px;
	padding-bottom: 2px;
	position: relative;
	width: 156px;
	margin-left: 6.25%;
}

#buttonu725:hover
{
	background-color: #007DAC;
	min-height: 0px;
	width: 156px;
	margin: 0px 0px 0px 6.25%;
}

#buttonu725.ButtonSelected
{
	background-color: #00ACAC;
	min-height: 0px;
	width: 156px;
	margin: 0px 0px 0px 6.25%;
}

#u728-4
{
	z-index: 3;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #48535C;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 100%;
}

#buttonu725:hover #u728-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100%;
	margin: 3px -10000px 0px 0%;
}

#u726
{
	z-index: 7;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 12.83%;
	left: 5.77%;
}

#buttonu725:hover #u726
{
	min-height: 0px;
	width: 12.83%;
	margin: 3px -10000px 0px 0%;
}

#buttonu833
{
	z-index: 37;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../resources/images/blank.gif");
	border-width: 0px;
	background-color: #00ACAC;
	border-radius: 3px;
	padding-bottom: 2px;
	margin-top: 12px;
	position: relative;
	width: 16.25%;
	margin-left: 6.25%;
}

#buttonu833:hover
{
	background-color: #007DAC;
	min-height: 0px;
	width: 16.25%;
	margin: 12px 0px 0px 6.25%;
}

#u836-4
{
	z-index: 38;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #48535C;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 100%;
}

#buttonu725.ButtonSelected #u728-4,#buttonu833:hover #u836-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100%;
	margin: 3px -10000px 0px 0%;
}

#u834
{
	z-index: 42;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 12.83%;
	left: 5.77%;
}

#buttonu725.ButtonSelected #u726,#buttonu833:hover #u834
{
	min-height: 0px;
	width: 12.83%;
	margin: 3px -10000px 0px 0%;
}

#buttonu751
{
	z-index: 9;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../resources/images/blank.gif");
	border-width: 0px;
	background-color: #00ACAC;
	border-radius: 3px;
	padding-bottom: 2px;
	margin-top: 12px;
	position: relative;
	width: 16.25%;
	margin-left: 6.25%;
}

#buttonu751:hover
{
	background-color: #007DAC;
	min-height: 0px;
	width: 16.25%;
	margin: 12px 0px 0px 6.25%;
}

#u754-4
{
	z-index: 10;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #48535C;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 100%;
}

#buttonu833.ButtonSelected #u836-4,#buttonu751:hover #u754-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100%;
	margin: 3px -10000px 0px 0%;
}

#u752
{
	z-index: 14;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 12.83%;
	left: 5.77%;
}

#buttonu833.ButtonSelected #u834,#buttonu751:hover #u752
{
	min-height: 0px;
	width: 12.83%;
	margin: 3px -10000px 0px 0%;
}

#buttonu775
{
	z-index: 16;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../resources/images/blank.gif");
	border-width: 0px;
	background-color: #00ACAC;
	border-radius: 3px;
	padding-bottom: 2px;
	margin-top: 12px;
	position: relative;
	width: 16.25%;
	margin-left: 6.25%;
}

#buttonu775:hover
{
	background-color: #007DAC;
	min-height: 0px;
	width: 16.25%;
	margin: 12px 0px 0px 6.25%;
}

#u778-4
{
	z-index: 17;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #48535C;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 100%;
}

#buttonu751.ButtonSelected #u754-4,#buttonu775:hover #u778-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100%;
	margin: 3px -10000px 0px 0%;
}

#u776
{
	z-index: 21;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 12.83%;
	left: 5.77%;
}

#buttonu751.ButtonSelected #u752,#buttonu775:hover #u776
{
	min-height: 0px;
	width: 12.83%;
	margin: 3px -10000px 0px 0%;
}

#buttonu799
{
	z-index: 23;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../resources/images/blank.gif");
	border-width: 0px;
	background-color: #00ACAC;
	border-radius: 3px;
	padding-bottom: 2px;
	margin-top: 12px;
	position: relative;
	width: 16.25%;
	margin-left: 6.25%;
}

#buttonu799:hover
{
	background-color: #007DAC;
	min-height: 0px;
	width: 16.25%;
	margin: 12px 0px 0px 6.25%;
}

#u800-4
{
	z-index: 24;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #48535C;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 100%;
}

#buttonu775.ButtonSelected #u778-4,#buttonu799:hover #u800-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100%;
	margin: 3px -10000px 0px 0%;
}

#u801
{
	z-index: 28;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 12.83%;
	left: 5.77%;
}

#buttonu775.ButtonSelected #u776,#buttonu799:hover #u801
{
	min-height: 0px;
	width: 12.83%;
	margin: 3px -10000px 0px 0%;
}

#buttonu816
{
	z-index: 30;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../resources/images/blank.gif");
	border-width: 0px;
	background-color: #00ACAC;
	border-radius: 3px;
	padding-bottom: 2px;
	margin-top: 12px;
	position: relative;
	width: 16.25%;
	margin-left: 6.25%;
}

#buttonu816:hover
{
	background-color: #007DAC;
	min-height: 0px;
	width: 16.25%;
	margin: 12px 0px 0px 6.25%;
}

#u819-4
{
	z-index: 31;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #48535C;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 100%;
}

#buttonu799.ButtonSelected #u800-4,#buttonu816:hover #u819-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100%;
	margin: 3px -10000px 0px 0%;
}

#u817
{
	z-index: 35;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 12.83%;
	left: 5.77%;
}

#buttonu799.ButtonSelected #u801,#buttonu816:hover #u817
{
	min-height: 0px;
	width: 12.83%;
	margin: 3px -10000px 0px 0%;
}

#buttonu847
{
	z-index: 44;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../resources/images/blank.gif");
	border-width: 0px;
	background-color: #00ACAC;
	border-radius: 3px;
	padding-bottom: 2px;
	margin-top: 11px;
	position: relative;
	width: 16.25%;
	margin-left: 6.25%;
}

#buttonu847:hover
{
	background-color: #007DAC;
	min-height: 0px;
	width: 16.25%;
	margin: 11px 0px 0px 6.25%;
}

#buttonu847.ButtonSelected
{
	background-color: #00ACAC;
	min-height: 0px;
	width: 16.25%;
	margin: 11px 0px 0px 6.25%;
}

#u850-4
{
	z-index: 45;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #48535C;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 100%;
}

#buttonu816.ButtonSelected #u819-4,#buttonu847:hover #u850-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100%;
	margin: 3px -10000px 0px 0%;
}

#u848
{
	z-index: 49;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 12.83%;
	left: 5.77%;
}

#buttonu816.ButtonSelected #u817,#buttonu847:hover #u848
{
	min-height: 0px;
	width: 12.83%;
	margin: 3px -10000px 0px 0%;
}

#buttonu864
{
	z-index: 51;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../resources/images/blank.gif");
	border-width: 0px;
	background-color: #00ACAC;
	border-radius: 3px;
	padding-bottom: 2px;
	margin-top: 12px;
	position: relative;
	width: 16.25%;
	margin-left: 6.25%;
}

#buttonu864:hover
{
	background-color: #007DAC;
	min-height: 0px;
	width: 16.25%;
	margin: 12px 0px 0px 6.25%;
}

#buttonu833.ButtonSelected,#buttonu751.ButtonSelected,#buttonu775.ButtonSelected,#buttonu799.ButtonSelected,#buttonu816.ButtonSelected,#buttonu864.ButtonSelected
{
	background-color: #00ACAC;
	min-height: 0px;
	width: 16.25%;
	margin: 12px 0px 0px 6.25%;
}

#u867-4
{
	z-index: 52;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #48535C;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 100%;
}

#buttonu847.ButtonSelected #u850-4,#buttonu864:hover #u867-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100%;
	margin: 3px -10000px 0px 0%;
}

#buttonu864.ButtonSelected #u867-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100%;
	margin: 3px -10000px 0px 0%;
}

#u865
{
	z-index: 56;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 12.83%;
	left: 5.77%;
}

#buttonu847.ButtonSelected #u848,#buttonu864:hover #u865
{
	min-height: 0px;
	width: 12.83%;
	margin: 3px -10000px 0px 0%;
}

#buttonu864.ButtonSelected #u865
{
	min-height: 0px;
	width: 12.83%;
	margin: 3px -10000px 0px 0%;
}

#u726_img,#u834_img,#u752_img,#u776_img,#u801_img,#u817_img,#u848_img,#u865_img
{
	width: 100%;
}

body
{
	position: relative;
	min-width: 320px;
}

