.leftNavMenu{
        transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    border-width: 0px;
    position: relative;
    width: 300px;
    background: #2D353C url("../resources/images/bg/leftmenu-bg.png") no-repeat right center;
}

.leftNavMenu:hover{
    background-position: left center;
}

body{
    background-color: lightgray;
}

