
.leftMenuItem{
    width: 292px;
    height: 35px;
    background-color: #49535C;
    border:2px #1A242D solid;
    position: relative;
    clear: both;
    margin: 2px;
    text-align: center;
}

.leftMenuItem:hover{
    background-color: #637079;
    border:2px #49535C solid;
    border-radius: 5px;
    background-image: url('../resources/images/icons/arrow-left-b.png');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: right center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.leftMenuItemText{
    color: white;
    margin: auto;
    top:8px;
    position: relative;
    white-space: nowrap;
}
