.version.buttons /* version checker */
{
	color: #000015;
	background-color: #4F395B;
}

#page
{
	z-index: 1;
	min-height: 329px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 171px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pbuttonu725
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 21px;
	width: 16.25%;
	margin-left: 6.25%;
}

#buttonu725
{
	z-index: 2;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../resources/images/blank.gif");
	border-width: 0px;
	background-color: #00ACAC;
	border-radius: 3px;
	padding-bottom: 2px;
	position: relative;
	width: 100%;
}

#buttonu725:hover
{
	background-color: #007DAC;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#buttonu725.ButtonSelected
{
	background-color: #00ACAC;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u728-4
{
	z-index: 3;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #48535C;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 100%;
}

#buttonu725:hover #u728-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100%;
	margin: 3px -10000px 0px 0%;
}

#u726
{
	z-index: 7;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 12.83%;
	left: 5.77%;
}

#buttonu725:hover #u726
{
	min-height: 0px;
	width: 12.83%;
	margin: 3px -10000px 0px 0%;
}

#buttonu833
{
	z-index: 37;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../resources/images/blank.gif");
	border-width: 0px;
	background-color: #00ACAC;
	border-radius: 3px;
	padding-bottom: 2px;
	margin-top: 12px;
	position: relative;
	width: 100%;
}

#buttonu833:hover
{
	background-color: #007DAC;
	min-height: 0px;
	width: 100%;
	margin: 12px 0px 0px 0%;
}

#u836-4
{
	z-index: 38;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #48535C;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 100%;
}

#buttonu725.ButtonSelected #u728-4,#buttonu833:hover #u836-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100%;
	margin: 3px -10000px 0px 0%;
}

#u834
{
	z-index: 42;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 12.83%;
	left: 5.77%;
}

#buttonu725.ButtonSelected #u726,#buttonu833:hover #u834
{
	min-height: 0px;
	width: 12.83%;
	margin: 3px -10000px 0px 0%;
}

#buttonu751
{
	z-index: 9;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../resources/images/blank.gif");
	border-width: 0px;
	background-color: #00ACAC;
	border-radius: 3px;
	padding-bottom: 2px;
	margin-top: 12px;
	position: relative;
	width: 100%;
}

#buttonu751:hover
{
	background-color: #007DAC;
	min-height: 0px;
	width: 100%;
	margin: 12px 0px 0px 0%;
}

#u754-4
{
	z-index: 10;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #48535C;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 100%;
}

#buttonu833.ButtonSelected #u836-4,#buttonu751:hover #u754-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100%;
	margin: 3px -10000px 0px 0%;
}

#u752
{
	z-index: 14;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 12.83%;
	left: 5.77%;
}

#buttonu833.ButtonSelected #u834,#buttonu751:hover #u752
{
	min-height: 0px;
	width: 12.83%;
	margin: 3px -10000px 0px 0%;
}

#buttonu775
{
	z-index: 16;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../resources/images/blank.gif");
	border-width: 0px;
	background-color: #00ACAC;
	border-radius: 3px;
	padding-bottom: 2px;
	margin-top: 12px;
	position: relative;
	width: 100%;
}

#buttonu775:hover
{
	background-color: #007DAC;
	min-height: 0px;
	width: 100%;
	margin: 12px 0px 0px 0%;
}

#u778-4
{
	z-index: 17;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #48535C;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 100%;
}

#buttonu751.ButtonSelected #u754-4,#buttonu775:hover #u778-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100%;
	margin: 3px -10000px 0px 0%;
}

#u776
{
	z-index: 21;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 12.83%;
	left: 5.77%;
}

#buttonu751.ButtonSelected #u752,#buttonu775:hover #u776
{
	min-height: 0px;
	width: 12.83%;
	margin: 3px -10000px 0px 0%;
}

#buttonu799
{
	z-index: 23;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../resources/images/blank.gif");
	border-width: 0px;
	background-color: #00ACAC;
	border-radius: 3px;
	padding-bottom: 2px;
	margin-top: 12px;
	position: relative;
	width: 100%;
}

#buttonu799:hover
{
	background-color: #007DAC;
	min-height: 0px;
	width: 100%;
	margin: 12px 0px 0px 0%;
}

#u800-4
{
	z-index: 24;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #48535C;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 100%;
}

#buttonu775.ButtonSelected #u778-4,#buttonu799:hover #u800-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100%;
	margin: 3px -10000px 0px 0%;
}

#u801
{
	z-index: 28;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 12.83%;
	left: 5.77%;
}

#buttonu775.ButtonSelected #u776,#buttonu799:hover #u801
{
	min-height: 0px;
	width: 12.83%;
	margin: 3px -10000px 0px 0%;
}

#buttonu816
{
	z-index: 30;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../resources/images/blank.gif");
	border-width: 0px;
	background-color: #00ACAC;
	border-radius: 3px;
	padding-bottom: 2px;
	margin-top: 12px;
	position: relative;
	width: 100%;
}

#buttonu816:hover
{
	background-color: #007DAC;
	min-height: 0px;
	width: 100%;
	margin: 12px 0px 0px 0%;
}

#u819-4
{
	z-index: 31;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #48535C;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 100%;
}

#buttonu799.ButtonSelected #u800-4,#buttonu816:hover #u819-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100%;
	margin: 3px -10000px 0px 0%;
}

#u817
{
	z-index: 35;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 12.83%;
	left: 5.77%;
}

#buttonu799.ButtonSelected #u801,#buttonu816:hover #u817
{
	min-height: 0px;
	width: 12.83%;
	margin: 3px -10000px 0px 0%;
}

#buttonu847
{
	z-index: 44;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../resources/images/blank.gif");
	border-width: 0px;
	background-color: #00ACAC;
	border-radius: 3px;
	padding-bottom: 2px;
	margin-top: 11px;
	position: relative;
	width: 100%;
}

#buttonu847:hover
{
	background-color: #007DAC;
	min-height: 0px;
	width: 100%;
	margin: 11px 0px 0px 0%;
}

#buttonu847.ButtonSelected
{
	background-color: #00ACAC;
	min-height: 0px;
	width: 100%;
	margin: 11px 0px 0px 0%;
}

#u850-4
{
	z-index: 45;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #48535C;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 100%;
}

#buttonu816.ButtonSelected #u819-4,#buttonu847:hover #u850-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100%;
	margin: 3px -10000px 0px 0%;
}

#u848
{
	z-index: 49;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 12.83%;
	left: 5.77%;
}

#buttonu816.ButtonSelected #u817,#buttonu847:hover #u848
{
	min-height: 0px;
	width: 12.83%;
	margin: 3px -10000px 0px 0%;
}

#buttonu864
{
	z-index: 51;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../resources/images/blank.gif");
	border-width: 0px;
	background-color: #00ACAC;
	border-radius: 3px;
	padding-bottom: 2px;
	margin-top: 12px;
	position: relative;
	width: 100%;
}

#buttonu864:hover
{
	background-color: #007DAC;
	min-height: 0px;
	width: 100%;
	margin: 12px 0px 0px 0%;
}

#buttonu833.ButtonSelected,#buttonu751.ButtonSelected,#buttonu775.ButtonSelected,#buttonu799.ButtonSelected,#buttonu816.ButtonSelected,#buttonu864.ButtonSelected
{
	background-color: #00ACAC;
	min-height: 0px;
	width: 100%;
	margin: 12px 0px 0px 0%;
}

#u867-4
{
	z-index: 52;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #48535C;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 100%;
}

#buttonu847.ButtonSelected #u850-4,#buttonu864:hover #u867-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100%;
	margin: 3px -10000px 0px 0%;
}

#u865
{
	z-index: 56;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 12.83%;
	left: 5.77%;
}

#buttonu847.ButtonSelected #u848,#buttonu864:hover #u865
{
	min-height: 0px;
	width: 12.83%;
	margin: 3px -10000px 0px 0%;
}

#u1007
{
	z-index: 58;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	width: 18.75%;
	left: 25%;
}

#u1004
{
	z-index: 59;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u958
{
	z-index: 60;
	-pie-box-shadow: 4px 4px 8px #BFBFBF;
	box-shadow: 4px 4px 8px rgba(0,0,0,0.25);
	background-color: #FFFFFF;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 216px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u957
{
	z-index: 61;
	background-color: #2D353C;
	border-radius: 4px 4px 0px 0px ;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u959-4
{
	z-index: 62;
	min-height: 24px;
	text-shadow: 2px 2px 8px rgba(0,0,0,0.25);
	-pie-box-shadow: none;
	box-shadow: none;
	border-color: #636F79;
	background-color: transparent;
	border-radius: 2px 2px 0px 0px ;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 82.78%;
	left: 0.56%;
}

#u998
{
	z-index: 66;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	width: 87.78%;
	left: 5.56%;
}

#u951-4
{
	z-index: 67;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	color: #636F79;
	position: relative;
	width: 98.74%;
	margin-left: 0.64%;
}

#u950-4
{
	z-index: 71;
	min-height: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #636F79;
	background-color: transparent;
	border-radius: 3px;
	line-height: 22px;
	color: #636F79;
	margin-top: 11px;
	position: relative;
	width: 98.74%;
}

#u949-4
{
	z-index: 75;
	min-height: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #636F79;
	background-color: transparent;
	border-radius: 3px;
	line-height: 22px;
	color: #636F79;
	margin-top: 10px;
	position: relative;
	width: 98.74%;
}

#u1001
{
	z-index: 79;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 159px;
	width: 87.23%;
	left: 6.12%;
}

#buttonu952
{
	z-index: 80;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../resources/images/blank.gif");
	border-width: 0px;
	background-color: #00ACAC;
	border-radius: 3px;
	padding-bottom: 2px;
	position: relative;
	width: 99.37%;
}

#buttonu952:hover
{
	background-color: #007DAC;
	min-height: 0px;
	width: 99.37%;
	margin: 0px 0px 0px 0%;
}

#buttonu952.ButtonSelected
{
	background-color: #00ACAC;
	min-height: 0px;
	width: 99.37%;
	margin: 0px 0px 0px 0%;
}

#u953-4
{
	z-index: 81;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #48535C;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 100%;
}

#buttonu864.ButtonSelected #u867-4,#buttonu952:hover #u953-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100%;
	margin: 3px -10000px 0px 0%;
}

#u954
{
	z-index: 85;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 12.83%;
	left: 5.77%;
}

#buttonu864.ButtonSelected #u865,#buttonu952:hover #u954
{
	min-height: 0px;
	width: 12.83%;
	margin: 3px -10000px 0px 0%;
}

#buttonu960
{
	z-index: 87;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../resources/images/blank.gif");
	border-width: 0px;
	background-color: #F12F34;
	border-radius: 3px;
	padding-bottom: 2px;
	margin-top: 12px;
	position: relative;
	width: 99.37%;
	margin-left: 0.64%;
}

#buttonu960:hover
{
	background-color: #FD5C60;
	min-height: 0px;
	width: 99.37%;
	margin: 12px 0px 0px 0.6369426751592357%;
}

#buttonu960.ButtonSelected
{
	background-color: #F12F34;
	min-height: 0px;
	width: 99.37%;
	margin: 12px 0px 0px 0.6369426751592357%;
}

#u961-4
{
	z-index: 88;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #48535C;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 100%;
}

#buttonu952.ButtonSelected #u953-4,#buttonu960:hover #u961-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100%;
	margin: 3px -10000px 0px 0%;
}

#buttonu960.ButtonSelected #u961-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100%;
	margin: 3px -10000px 0px 0%;
}

#u962
{
	z-index: 92;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 12.83%;
	left: 5.77%;
}

#buttonu952.ButtonSelected #u954,#buttonu960:hover #u962
{
	min-height: 0px;
	width: 12.83%;
	margin: 3px -10000px 0px 0%;
}

#buttonu960.ButtonSelected #u962
{
	min-height: 0px;
	width: 12.83%;
	margin: 3px -10000px 0px 0%;
}

#u726_img,#u834_img,#u752_img,#u776_img,#u801_img,#u817_img,#u848_img,#u865_img,#u954_img,#u962_img
{
	width: 100%;
}

#u1019
{
	z-index: 94;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	width: 31.25%;
	left: 50%;
}

#u1023
{
	z-index: 95;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1025
{
	z-index: 96;
	-pie-box-shadow: 4px 4px 8px #BFBFBF;
	box-shadow: 4px 4px 8px rgba(0,0,0,0.25);
	background-color: #FFFFFF;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 276px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1024
{
	z-index: 97;
	background-color: #2D353C;
	border-radius: 4px 4px 0px 0px ;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1026-4
{
	z-index: 98;
	min-height: 26px;
	text-shadow: 2px 2px 8px rgba(0,0,0,0.25);
	-pie-box-shadow: none;
	box-shadow: none;
	border-color: #636F79;
	background-color: transparent;
	border-radius: 2px 2px 0px 0px ;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 82.67%;
	left: 0.67%;
}

#u959,#u1026
{
	color: #FFFFFF;
}

#u1020
{
	z-index: 102;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	width: 92%;
	left: 4%;
}

#u1022-4
{
	z-index: 103;
	min-height: 24px;
	border-style: solid;
	border-color: #636F79;
	background-color: transparent;
	font-size: 16px;
	line-height: 25px;
	color: #636F79;
	position: relative;
	width: 100%;
	border-width: 0px 0px 2px;
}

#u1021-4
{
	z-index: 107;
	min-height: 156px;
	background-color: transparent;
	line-height: 22px;
	color: #636F79;
	text-indent: 15px;
	margin-top: 10px;
	position: relative;
	width: 100%;
}

#u959-2,#u951-2,#u950-2,#u949-2,#u1026-2,#u1022-2,#u1021-2
{
	padding-left: 10px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}


